{{- $pc := .Page.Site.Config.Privacy.X -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $user := .Get "user" | default (.Get 1) -}}
{{- if not $pc.Disable -}}
<blockquote class="twitter-tweet">
  <a href="https://x.com/{{ $user }}/status/{{ $id }}"></a>
</blockquote>
{{- if not $pc.EnableDNT -}}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{- else -}}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8" data-dnt="true"></script>
{{- end -}}
{{- end -}}
